@tailwind base;
@tailwind components;
@tailwind utilities;

.info {
  @apply font-mono text-white bg-slate-600 mb-2 py-1 px-3 rounded-md;
}

.btn {
  @apply font-bakbak-one py-3 px-4 rounded-lg;
  transition: background-color 100ms ease;
}

.btn:disabled {
  @apply opacity-50 cursor-not-allowed;
}

.btn-blue {
  background-color: #6F8CC7;
  @apply text-white m-0;
}

.btn-blue:hover {
  background-color: #5E7EBD;
}

.text-label {
  @apply block mb-2 text-sm font-medium text-gray-900;
}

.text-input {
  position: relative;
  background-color: #B1C6F1;
  color: #24375B;
  @apply font-bakbak-one rounded-md py-3 indent-3;
  transition: background-color 100ms ease;
}

.text-input::placeholder {
  color: #24375B;
}

:is(.text-input:hover, .text-input:focus) {
  outline: none;
  background-color: #A0BDE7;
}